<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=500px" />
<style>
body{
	font-family:Arial;
}

td, th{
	padding:0 15px;
}

a {
	color:#ff99eb;
	text-decoration:none;
}

.start-link{
	font-size: 21px;
	font-weight: bold;
}

input{
	margin:5px 0;
}


.button{
	margin-top:30px;
}

.delete-button{
	font-size:10px;
}

.save-button{
	font-size:30px;
}

#log-out{
	position:absolute;
	top:5px;
	right:10px;
}
</style>


</head>
<body>
<a href="{{ url_for('show_seller_agents') }}" class="start-link">Vendedores</a>
{% if not current_user.is_anonymous() %}
<a id="log-out" href="{{ url_for("logout") }}">{{ current_user.username }} - Salir</a>
{% endif %}

<h1>{%block page_name%} {%endblock%}</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block body %}
{% endblock %}

</body>

<script type="text/javascript">

function delete_alert(e){
	var e = e || window.event;
	return confirm("Quieres Borrar!!");
}

function main(){
	var delete_buttons = document.getElementsByClassName('delete-button');
	for (var i=0; i < delete_buttons.length; i++){
		var button = delete_buttons[i];
		button.onclick = delete_alert;
	}
}
main();
</script>

</html>
