{% extends "layout.html" %}

{% block title %} Login {% endblock %}
{% block page_name %} Login {% endblock %}


{% block body %}

<form method="post" action='.'>
{% for field_name, field_errors in form.errors.items() if field_errors %}
	{{field_name}} {{field_errors}} <br/>
{% endfor %}

{{ form.hidden_tag() }}
	
<table>
	<tr>
		<th>{{ form.username.label }}</th>
		<td>{{ form.username }}</td>
	</tr>
	<tr>
		<th>{{ form.password.label }}</th>
		<td>{{ form.password }}</td>
	</tr>
	<tr>
		<td colspan="2">
			<input class="button save-button" type="submit" value="Entrar">
		</td>
	</tr>
</table>
</form>

{% endblock %}
