{% extends "layout.html" %}

{% block title %} Vendedor {{ seller.name }} {% endblock %}
{% block page_name %}{{ seller.name }} - <a href="{{ seller.url_edit }}">Editar</a> {% endblock %}

{% block body %}

<table>
	<tr>
		<th>Deuda</th>
		<td>$ {{ seller.debt }}</td>
	</tr>
	<tr>
		<th>Tel</th>
		<td>{{ seller.tel }}</td>
	</tr>
	<tr>
		<th>Correo</th>
		<td>{{ seller.email }}</td>

	</tr>
	<tr>
		<th>Direcci&oacute;n</th>
		<td>{{ seller.address|nl2br }}</td>
	</tr>
</table>

<h2>Ventas <a href="{{ seller.url_add_sell }}">+</a></h2>
{%if sells|count %}

<table>
	<tr>
		<th>Fecha</th>
		<th>Cantidad</th>
		<th>Porcentaje</th>
		<th>Comision</th>
		<th>A Pagar</th>
	</tr>
{% for sell in sells %}
	<tr>
		<td>{{ sell.date }}</td>
		<td>$ {{ sell.quantity }}</td>
		<td>{{ sell.remuneration_percent }} %</td>
		<td>$ {{ sell.remuneration }}</td>
		<td>$ {{ sell.to_pay }}</td>
		<td><a href="{{ sell.url }}">Editar</a></td>
	</tr>
{% endfor %}
</table>

{%endif%}

<h2>Pagos <a href="{{ seller.url_add_payment }}">+</a></h2>
{% if payments|count %}
<table>
	<tr>
		<th>Fecha</th>
		<th>Cantidad</th>
	</tr>
{% for payment in payments %}
	<tr>
		<td>{{ payment.date }}</td>
		<td>$ {{ payment.quantity }}</td>
		<td><a href="{{ payment.url }}">Editar</a></td>
	</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
