{% extends "layout.html" %}

{% block title %} Vendedor {{ seller.name }} {% endblock %}
{% block page_name %}Agregar Venta<br/>{{ seller.name }} {% endblock %}

{% block body %}

<form method="post" action='.'>
{% for field_name, field_errors in form.errors.items() if field_errors %}
	{{field_name}} {{field_errors}} <br/>
{% endfor %}
	{{ form.hidden_tag() }}
	
<table>
	<tr>
		<th>Cantidad Vendida</th>
		<td>{{ form.quantity }}</td>
	</tr>
	<tr>
		<th>Fecha</th>
		<td>{{ form.date }}</td>
	</tr>
	<tr>
		<th>Porcentaje Comision</th>
		<td>{{ form.remuneration_percent }}</td>
	</tr>
	<tr>
		<td>
			{% if sell.id %}
			<input class="button delete-button" type="submit" name="delete" value="Borrar">
			{% endif %}
		</td>
		<td>
			<input class="button save-button" type="submit" value="Guardar">
		</td>
	</tr>
</table>
</form>


{% endblock %}
