{% extends "layout.html" %}

{% block title %} Vendedores {% endblock %}
{% block page_name %} Vendedores {% endblock %}

{% block body%}
<table>
	<tr>
		<th>Id</th>
		<th>Nombre</th>
		<th>Deuda</th>
		<th>Ultimo Pago</th>
	</tr>
	{% for agent in seller_agents%}
	<tr>
		<td>{{ agent.id }}</td>	
		<td><a href="{{ agent.url }}">{{ agent.name }}</a></td>	
		<td>$ {{ agent.debt }}</td>
		<td>{{ agent.last_payment.date }}</td>
	</tr>
	{% endfor %}
</table>
<br/>
<a href="{{ url_for("seller_agent_edit_create") }}">Agregar Vendedor</a>
{% endblock%}
