{% extends "layout.html" %}

{% block title %} {% if seller.id %} Editando {{ seller.name }}{% else %} Agrega Vendedor {% endif %} {% endblock %}

{% block page_name %}{% if seller.id %} Editando {{ seller.name }}{% else %} Agrega Vendedor {% endif %} {% endblock %}

{% block body %}

<form method="post" action=".">
<table>
	{{ form.hidden_tag() }}
	<tr>
		<th>Nombre</th>
		<td>{{form.name}}</td>
	</tr>
	<tr>
		<th>Email</th>
		<td>{{form.email}}</td>
	</tr>
	<tr>
		<th>Tel</th>
		<td>{{form.tel}}</td>
	</tr>
	<tr>
		<th>Direcci&oacute;n</th>
		<td>{{form.address}}</td>
	</tr>
</table>

<input type="submit" value="Guardar">
</form>



{% endblock %}
